*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

.navbar{
    position:fixed;
    top: 15px;
    left:50%;
    transform:translateX(-50%);

    z-index: 1000;
    width:90%;
    max-width:1200px;
    height:75px;

    display:flex;
    align-items:center;
    justify-content:space-between;

   

    background:transparent;
    backdrop-filter:blur(18px);

    border-bottom:1px solid #d8bd71;
    

    
}

.logo img{
    width: 74px;
    

}

.nav-menu{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-menu a{
    color:black;
    text-decoration:none;
    font-size:.95rem;
    transition:.35s;
}

.nav-menu a:hover{
    color:#d8b36a;
}

.search-container{
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input{
  width: 180px;
  height: 42px;
  padding: 0 50px 0 18px;
  border: 1px solid #d8b36a;
  border-radius: 15px;
  background: rgba(255,255,255,.03);
  backdrop-filter: blur(8px);

  color: #fff;
  font-size: 14px;
  outline: none;

  transition: all .3s ease;
}

.search-container input:focus{
  width: 240px;
  border-color: #d8b36a;
  box-shadow: 0 0 15px rgba(212,175,55,.25);
}

.search-container input::placeholder{
  color: #d8b36a;
}

.search-btn{
  position: absolute;
  right: 4px;

  width: 34px;
  height: 34px;

  border: none;
  border-radius: 50%;

  background: transparent;

  color: #d8b36a;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s ease;
}

.search-btn:hover{
  transform: scale(1.08);
}