
.contenedor-Nav{
  background: #3b010b;
  display:flex;
  justify-content:center;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

.navbar{
    position:relative;
   

    z-index: 1000;
    width: 100%;
    max-width:95%;
    height: 100px;

    display:flex;
    align-items:center;
    justify-content:space-between;

   

    background:transparent;
    backdrop-filter:blur(18px);

    border-bottom:1px solid #d8bd71;
    

    
}

.logo img{
    width: 170px;
    

}
.menu{
  margin-right:20em;
}

.nav-menu{
    display:flex;
    gap:100px;
    list-style:none;
}

.nav-menu a{
    color:#d8b36a;
    text-decoration:none;
    font-size:1rem;
    transition:.35s;
}

.nav-menu a:hover{
    color:#d8b36a;
}

