<nav class="navbar">
  <div class="logo">
    <a class="titulo">
      <img [src]="imageSrc" alt="Logo" width="75px">
    </a>
  </div>

  <ul class="nav-menu">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/contactos">Contactos</a></li>
  </ul>

<div class="search-container">
  <input
    type="text"
    placeholder="Buscar ..."
    [(ngModel)]="textoBusqueda"
    (keyup.enter)="buscar()">

  <button class="search-btn" (click)="buscar()">
    <i class="bi bi-search"></i>
  </button>
</div>
</nav>
