
.about-us {
   background:#3b010b;
  color: white;
  padding: 100px 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.content {
  flex: 1;
  font-family:"Playfair Display", serif;;
}

.subtitle {
  color: #c59d5f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.content h2 {
  font-size: 42px;
  margin: 20px 0;
  font-weight: 600;
}

.content p {
  color: #cfcfcf;
  line-height: 1.8;
  margin-bottom: 15px;
}


.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-card {
  background: #43010c;
  padding: 25px;
  border-radius: 15px;
  min-width: 220px;
  border-left: 3px solid #1b0005;
  box-shadow:
        0 6px 15px rgba(0,0,0,.55),
        inset 0 1px 1px rgba(255,255,255,.05);

}

.stat-card h3 {
  font-size: 32px;
  color: #c59d5f;
  margin-bottom: 8px;
  font-family:"Playfair Display", serif;
}

.stat-card p {
  color: #d6d6d6;
  font-family:"Playfair Display", serif;
}